myenv/


__pycache__/
*.py[cod]


user/migrations/

.env/

*.pyc
__pycache__/
project/__pycache__

.env
.ruff_cache/



myenv/

myenv/

__pycache__/

user/__pycache__/
*.py[cod]


user/migrations/

.env/

*.pyc
__pycache__/


.env
.ruff_cache/



myenv/
