{% extends 'base.html' %}
{% block content %}
<h2>Your Orders</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Date</th>
      <th>Status</th> 
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.product.name }}</td>
      <td>₹{{ order.data.price }}</td>
      <td>{{ order.data.quantity }}</td>
      <td>{{ order.data.address }}</td>
      <td>{{ order.data.phone }}</td>
      <td>{{ order.data.date }}</td>
      <td>{{ order.data.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
